<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container"
    class="colored-header text-align-center">
    {{ 'Creating' | translate }}
    <mat-icon class="dialog-close-button" (mousedown)="dialogRef.close()">close</mat-icon>

</div>

<mat-dialog-content class="small-margin-and-center-title">

    <h2 mat-dialog-title class="text-align-center">
        <mat-icon class="dialog-title-icon">person</mat-icon>
        <mat-icon class="dialog-title-icon">add</mat-icon>
        <span class="dialog-title">{{ 'EvidencijaRadVreZagVezeCreating' | translate }}</span>
    </h2>

    <div class="form-container">
        <table>
            <tr>
                <td>
                    <label for="Code" class="minimum-margin-top">{{ 'Code' | translate }}:</label>
                </td>
                <td
                    style="width: 250px;display: flex;max-width: 250px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        (click)="pickEvidVezeSifra();" (contextmenu)="removeEvidVezeSifra($event)"
                        matTooltip="{{ (!EvidencijaRadVreZagVeze.SIF_STUPCA ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="EvidencijaRadVreZagVeze.KNAZIV">
                        {{ EvidencijaRadVreZagVeze!.KNAZIV ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span>
                        <input type="text" [(ngModel)]="EvidencijaRadVreZagVeze.SIF_STUPCA" maxlength="22"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}" (blur)="EvidencijaRadVreZagVeze.SIF_STUPCA==''?'':OfferedEvidVezeSifra();resetEvidVezeSifra();"
                            (ngModelChange)="filterEvidVezeSifra(EvidencijaRadVreZagVeze!.SIF_STUPCA);"
                            (focus)="refreshEvidVezeSifra(EvidencijaRadVreZagVeze!.SIF_STUPCA, false);"
                            (keyup.enter)="selectEvidVezeSifra(offeredEvidVezeSifra[EvidVezeSifraDropdownIndex]);"
                            (keyup.escape)="resetEvidVezeSifra();"
                            (keyup.arrowdown)="EvidVezeSifraDropdownIndex = (EvidVezeSifraDropdownIndex + 1) % offeredEvidVezeSifra.length;globalFn.scroll('offeredEvidVezeSifra-dropdown-' + EvidVezeSifraDropdownIndex);"
                            (keyup.arrowup)="EvidVezeSifraDropdownIndex = (EvidVezeSifraDropdownIndex - 1 + offeredEvidVezeSifra.length) % offeredEvidVezeSifra.length;globalFn.scroll('offeredEvidVezeSifra-dropdown-' + EvidVezeSifraDropdownIndex);">
                        <div id="offeredEvidVezeSifra-dropdown" class="select-dropdown-content max-height-300px"
                            style="z-index: 500;">
                            <div [id]="'offeredEvidVezeSifra-dropdown-' + i"
                                *ngFor="let evidVezeSifra of offeredEvidVezeSifra; index as i" matRipple
                                class="dropdown-content-item display-flex align-items-center space-between"
                                [class.gray-background]="i == EvidVezeSifraDropdownIndex"
                                (mousedown)="selectEvidVezeSifra(evidVezeSifra);">
                                <span>
                                    <b>{{ evidVezeSifra.SIF_STUPCA }}</b> ({{ evidVezeSifra.KNAZIV }})
                                </span>
                            </div>
                        </div>
                    </span>
                    <span class="small-margin-left margin-right" matTooltip="{{ EvidencijaRadVreZagVeze!.KNAZIV }}"
                        matTooltipShowDelay="1000">{{
                        EvidencijaRadVreZagVeze!.KNAZIV }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="VrstaPosla" class="minimum-margin-top">{{ 'VrstaPosla' | translate }}:</label>
                </td>
                <td
                    style="width: 250px; display: flex;max-width: 250px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        (click)="pickVrstePosla();" (contextmenu)="removeVrstePosla($event)"
                        matTooltip="{{ (!EvidencijaRadVreZagVeze.SIF_VP ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="EvidencijaRadVreZagVeze!.NAZ_VP">
                        {{ EvidencijaRadVreZagVeze!.NAZ_VP ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span>
                        <input type="text" [(ngModel)]="EvidencijaRadVreZagVeze!.SIF_VP" maxlength="22"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}" (blur)="EvidencijaRadVreZagVeze.SIF_VP==''?'':OfferedVrstePosla();resetVrstePoslaIndex();"
                            (ngModelChange)="filterVrstePosla(EvidencijaRadVreZagVeze!.SIF_VP);"
                            (focus)="refreshVrstePosla(EvidencijaRadVreZagVeze!.SIF_VP, false);"
                            (keyup.enter)="selectVrstePosla(offeredVrstePosla[VrstePoslaDropdownIndex]);"
                            (keyup.escape)="resetVrstePoslaIndex();"
                            (keyup.arrowdown)="VrstePoslaDropdownIndex = (VrstePoslaDropdownIndex + 1) % offeredVrstePosla.length;globalFn.scroll('offeredVrstePosla-dropdown-' + VrstePoslaDropdownIndex);"
                            (keyup.arrowup)="VrstePoslaDropdownIndex = (VrstePoslaDropdownIndex - 1 + offeredVrstePosla.length) % offeredVrstePosla.length;globalFn.scroll('offeredVrstePosla-dropdown-' + VrstePoslaDropdownIndex);"
                            id="offeredVrstePosla-help-span">
                        <div id="offeredVrstePosla-dropdown" class="select-dropdown-content max-height-300px"
                            style="z-index: 500;">
                            <div [id]="'offeredVrstePosla-dropdown-' + i"
                                *ngFor="let evidencijaRadVreOj of offeredVrstePosla; index as i" matRipple
                                class="dropdown-content-item display-flex align-items-center space-between"
                                [class.gray-background]="i == VrstePoslaDropdownIndex"
                                (mousedown)="selectVrstePosla(evidencijaRadVreOj);">
                                <span>
                                    <b>{{evidencijaRadVreOj.SIF_VP}}</b> - {{ evidencijaRadVreOj.NAZ_VP}}
                                </span>
                            </div>
                        </div>
                    </span>
                    <span *ngIf="EvidencijaRadVreZagVeze.NAZ_VP!=''" class="small-margin-left margin-right">{{
                        EvidencijaRadVreZagVeze.NAZ_VP }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="FaktorMnozenja" class="minimum-margin-top">{{ 'FaktorMnozenja' | translate }}:</label>
                </td>
                <td>
                    <select name="" id="" [(ngModel)]="EvidencijaRadVreZagVeze.XFAKTOR">
                        <option (value)="1">1</option>
                        <option (value)="0">0</option>
                        <option (value)="-1">-1</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (mousedown)="dialogRef.close()">{{ 'Cancel' | translate }}</button>
    <button mat-raised-button type="button" color="primary" (mousedown)="save();dialogRef.close(true);"
        [disabled]="validateForm(EvidencijaRadVreZagVeze!)">{{ 'Create' | translate }}</button>
</mat-dialog-actions>