.calendar{
    width: 80%;
}

.unos-form{
    background-color: var(--color-white);
    width: 306px;
    height: 700px;
    margin-left: 16px;
    margin-top: 20px;

}

.grupni-unos{
    display: flex;
    
}

.drag-active {
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

.drag-over {
    background-color: #eee;
}

.sheme-card{
    padding: 30px 16px 16px 16px;
    border-radius: 15px;
    position: relative;
    color: black;
}