<!--
<ng-template #customEventTemplate let-event="test">
    @for(event of events;track event){
        <div (click)="printinginfo(event)" [style.background-color]="event.color">
            hello
        </div>
    }
</ng-template>
-->

<div class="grupni-unos">
    <div class="calendar">
        <app-header-grupni-unos [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="checkDate()"
            (viewChange)="view = $event">
        </app-header-grupni-unos>

        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [locale]="locale"
                [refresh]="refresh" [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays"
                (beforeViewRender)="beforeMonthViewRender($event)" (dayClicked)="changeDay($event.day.date)"
                (eventTimesChanged)="eventDropped($event)" (eventClicked)="eventClicked($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale"
                [hourSegments]="1" [snapDraggedEvents]="false" [refresh]="refresh" [weekStartsOn]="weekStartsOn"
                [weekendDays]="weekendDays" (dayHeaderClicked)="changeDay($event.day.date)"
                (eventTimesChanged)="eventDropped($event)" (eventClicked)="eventClicked($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [locale]="locale"
                [hourSegments]="1" [snapDraggedEvents]="false" [refresh]="refresh"
                (eventTimesChanged)="eventDropped($event)" (eventClicked)="eventClicked($event)">
            </mwl-calendar-day-view>
        </div>
    </div>
    <div class="unos-form">
        <div class="col-md-3">
            <div class="sheme-card" mwlDroppable (drop)="externalDrop($event.dropData.event)" dragOverClass="drag-over">
                <div class="card-body">
                    <label style="font-size: 14px;" for="">{{'Sheme'|translate}}</label>
                    <p *ngIf="externalEvents.length === 0"><em>No events added</em></p>
                    <div class="listEvents">
                        <div *ngFor="let event of externalEvents" mwlDraggable [dropData]="{event: event}"
                            [touchStartLongPress]="{ delay: 300, delta: 30 }" dragActiveClass="drag-active">
                            <button mat-flat-button style="margin: 5px 0px;"
                                [style.background-color]="event.color!.primary">
                                {{ event.title }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table style="width: 250px;" style="margin-top: 20px;">
            <tr>
                <td>
                    <label for="MBR">{{ 'GRUPA' | translate }}:</label>
                </td>
                <td  style="display: flex;max-width: 480px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        (click)="pickGrupe();" (contextmenu)="removeGrupe($event)"
                        matTooltip="{{ (!varNames.ID_GRUPE ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="varNames!.NAZ_GRUPE">
                        {{ varNames!.NAZ_GRUPE ? 'done' : 'import_contacts'}}
                    </mat-icon>

                    <span
                        (click)="refreshGrupe(varNames!.ID_GRUPE, false);">
                        <input type="text" [(ngModel)]="varNames!.ID_GRUPE" maxlength="22"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}" 
                            (blur)="OfferedGrupe();resetGrupeIndex();"
                            (ngModelChange)="filterGrupe(varNames!.ID_GRUPE);"
                            (focus)="refreshGrupe(varNames!.ID_GRUPE, false);"
                            (keyup.enter)="selectGrupe(offeredGrupe[GrupeDropdownIndex]);"
                            (keyup.escape)="resetGrupeIndex();">
                        <div id="offeredGrupe1-dropdown" class="select-dropdown-content max-height-300px"
                            style="z-index: 500;">
                            <div [id]="'offeredGrupe1-dropdown-' + i"
                                *ngFor="let Grupe of offeredGrupe; index as i" matRipple
                                class="dropdown-content-item display-flex align-items-center space-between"
                                [class.gray-background]="i == GrupeDropdownIndex"
                                (mousedown)="selectGrupe(Grupe);">
                                <span>
                                    <b>{{Grupe.ID_GRUPE}}</b> - {{ Grupe.NAZ_GRUPE}}
                                </span>
                            </div>
                        </div>
                    </span>
                    <span style="width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" class="small-margin-left margin-right">{{ varNames!.NAZ_GRUPE }}</span>
                </td>
            </tr>
        </table>
    </div>