<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container"
  class="dialog-header">
  {{ 'Excel' | translate }}?

  <mat-icon class="dialog-close-button" (mousedown)="dialogRef.close()">close</mat-icon>

</div>

<div>

  <mat-dialog-content>
    <p>{{ 'KreirajExcel' | translate }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (mousedown)="dialogRef.close()">{{ 'No' | translate }}</button>
    <button mat-raised-button color="primary" (mousedown)="dialogRef.close()" (mousedown)="getData();">{{
      'Yes' | translate }}</button>
  </mat-dialog-actions>

</div>