<div 
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle 
cdkDragBoundary=".cdk-overlay-container"
class="colored-header text-align-center">
	{{ 'Creating' | translate }}
    <mat-icon class="dialog-close-button" mat-dialog-close >close</mat-icon>

</div>

<mat-dialog-content class="small-margin-and-center-title">

	<h2 mat-dialog-title class="text-align-center">
		<mat-icon class="dialog-title-icon">person</mat-icon>
		<mat-icon class="dialog-title-icon">add</mat-icon>
		<span class="dialog-title">{{ 'ShemeCreation' | translate }}</span>
  	</h2>

	<div class="form-container">
		<table>
            <tr>
				<td>
					<label for="Code" class="minimum-margin-top">{{ 'Code' | translate }}:</label>
				</td>
				<td>
					<input id="Code" class="minimum-margin width-276-px" [(ngModel)]="Sheme!.SIF_SHEME" placeholder="{{ 'Code' | translate }}">
				</td>
			</tr>
            <tr>
				<td>
					<label for="OPIS" class="minimum-margin-top">{{ 'OPIS' | translate }}:</label>
				</td>
				<td>
					<input id="OPIS" class="minimum-margin width-276-px" [(ngModel)]="Sheme!.OPIS" placeholder="{{ 'OPIS' | translate }}">
				</td>
			</tr>
			<tr>
				<td>
					<label for="OD" class="minimum-margin-top">{{ 'OD' | translate }}:</label>
				</td>
				<td>
					<input id="OD" type="time" max="23:00" min="00:00" class="minimum-margin width-276-px" [(ngModel)]="Sheme!.OD" placeholder="{{ 'OD' | translate }}">
				</td>
			</tr>
            <tr>
				<td>
					<label for="DO" class="minimum-margin-top">{{ 'DO' | translate }}:</label>
				</td>
				<td>
					<input id="DO" type="time" max="23:00"  min="00:00" class="minimum-margin width-276-px" [(ngModel)]="Sheme!.DO" placeholder="{{ 'DO' | translate }}">
				</td>
			</tr>
            <tr>
				<td>
					<label for="PAUZAOD" class="minimum-margin-top">{{ 'PAUZAOD' | translate }}:</label>
				</td>
				<td>
					<input id="PAUZAOD" type="time" class="minimum-margin width-276-px" [(ngModel)]="Sheme!.PAUZA_OD" placeholder="{{ 'PAUZAOD' | translate }}">
				</td>
			</tr>            
            <tr>
				<td>
					<label for="PAUZADO" class="minimum-margin-top">{{ 'PAUZADO' | translate }}:</label>
				</td>
				<td>
					<input id="PAUZADO" type="time" class="minimum-margin width-276-px" [(ngModel)]="Sheme!.PAUZA_DO" placeholder="{{ 'PAUZADO' | translate }}">
				</td>
			</tr>
		</table>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="true">{{ 'Cancel' | translate }}</button>
	<button mat-raised-button type="button" color="primary" [mat-dialog-close]="true" (click)="save();"
		[disabled]="validateForm(Sheme!)">{{ 'Create' | translate }}</button>
</mat-dialog-actions>