<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container"
    class="dialog-header">
    {{ 'Kopiranje' | translate }}

    <mat-icon class="dialog-close-button" (mousedown)="dialogRef.close()">close</mat-icon>

</div>
<mat-dialog-content>
    @if(recievedData.SIF_OJ=='%'||recievedData.SIF_OJ==''){
    <h2>{{'NijeMoguceKopiratiOdaberitePrvoSIFOJ'|translate}}</h2>
    }
    @else {
    <table>
        <tr>
            <td>
                <label for="">{{'KopiranjeZa'|translate}}</label>
            </td>
            <td>
                <label for="">{{recievedData.MBR+' - '+recievedData.PREZIME_IME+' - ' + recievedData.SIF_OJ
                +" - "+recievedData.SIF_VP}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">{{'SaDatuma'|translate}}</label>
            </td>
            <td>
                <input type="date" [(ngModel)]="varNames.SADATUM" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">{{'NaDatum'|translate}}</label>
            </td>
            <td>
                <input type="date" [(ngModel)]="varNames.NADATUM" required>
            </td>
        </tr>
    </table>
    }
</mat-dialog-content>

<mat-dialog-actions align="end">
    @if(recievedData.SIF_OJ=='%'||recievedData.SIF_OJ==''){
        <button mat-button (mousedown)="dialogRef.close()">{{ 'Cancel' | translate }}</button>
    }
    @else {
        <button mat-button (mousedown)="dialogRef.close()">{{ 'Cancel' | translate }}</button>
        <button mat-raised-button color="primary" (mousedown)="dialogRef.close()" (mousedown)="copy();">{{ 'Copy' | translate }}</button>
    }
</mat-dialog-actions>