<mat-toolbar class="toolbar">

    <span>{{ 'DnevnaEvidencija' | translate }}</span>

    <span class="toolbar-spacer"></span>

    <mat-form-field class="negative-bottom-margin">

        <mat-label>{{ 'DisplayedColumns' | translate }}</mat-label>

        <mat-select (selectionChange)="setVisibleColumnsFromEvent();"
            [(ngModel)]="globalVar.EvidencijaDnevnaDisplayedColumns" multiple>
            <mat-option *ngFor="let column of globalVar.EvidencijaDnevnaColumnsList" [value]="column">{{
                column.displayedName |
                translate }}</mat-option>
        </mat-select>

    </mat-form-field>

    <mat-form-field appearance="outline" class="input-lower-margin-corrector small-margin-left"
        matTooltip="{{ 'Search' | translate }}" matTooltipPosition="above" (keyup.enter)="refresh();">
        <input type="text" matInput [(ngModel)]="searchParam" placeholder="{{ 'DnevnaEvidencija' | translate }}">
    </mat-form-field>

    <button mat-icon-button matTooltip="{{ 'Search' | translate }}" (mousedown)="refresh();" [disabled]="filter.SIF_OJ==''">
        <mat-icon>search</mat-icon>
    </button>

    <button mat-mini-fab color="accent" class="small-margin-left"
        matTooltip="{{ 'GrupniUnos' | translate }}" (mousedown)="router.navigateByUrl('grupni-unos');">
        <mat-icon >group_add</mat-icon>
    </button>

    <button *ngIf="globalVar.cVRS == 2 || !globalVar.useDynamicMenus" mat-mini-fab color="primary" class="small-margin-left"
        matTooltip="{{ 'GrupniUnos' | translate }}" (mousedown)="openCreateDialog();">
        <mat-icon>group_add</mat-icon>
    </button>

    <button mat-mini-fab color="primary" matTooltip="{{ 'Refresh' | translate }}" class="small-margin-left"
        (mousedown)="refresh();" [disabled]="filter.SIF_OJ==''">
        <mat-icon *ngIf="!loading">refresh</mat-icon>
        <mat-spinner [diameter]="30" color="accent" style="height: 25px;" *ngIf="loading"></mat-spinner>
    </button>

</mat-toolbar>

<div class="dokumenti-filteri-container" style="margin-top: 20px;border-radius: 10px;overflow-x: auto;">
    <table class="filteri-table">
        <tr>
            <td>
                <label for="">{{"DATUM"|translate}}</label>
            </td>
            <td>
                <input type="date" [(ngModel)]="filter.DATUM" (change)="inputChanged($event);">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <label for="MBR">{{ 'mjesto-troska' | translate }}:</label>
            </td>
            <td>
                <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                    (click)="pickEvidencijaRadVreOj();" (contextmenu)="removeEvidencijaRadVreOj($event)"
                    matTooltip="{{ (!filter.SIF_OJ ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                    [class.color-valid]="filter!.NAZMJTR">
                    {{ filter!.NAZMJTR ? 'done' : 'import_contacts'}}
                </mat-icon>
            </td>
            <td class="filter-result2">
                <span (mousedown)="refreshEvidencijaRadVreOj(filter!.SIF_OJ, false);">
                    <input type="text" [(ngModel)]="filter!.SIF_OJ" maxlength="22"
                        class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                        placeholder="{{ 'Code' | translate }}"
                        (blur)="OfferedEvidencijaRadVreOj();resetEvidencijaRadVreOjIndex();"
                        (ngModelChange)="filterEvidencijaRadVreOj(filter!.SIF_OJ);"
                        (focus)="refreshEvidencijaRadVreOj(filter!.SIF_OJ, false);"
                        (keyup.enter)="selectEvidencijaRadVreOj(offeredEvidencijaRadVreOj[EvidencijaRadVreOjDropdownIndex]);"
                        (keyup.escape)="resetEvidencijaRadVreOjIndex();"
                        (keyup.arrowdown)="EvidencijaRadVreOjDropdownIndex = (EvidencijaRadVreOjDropdownIndex + 1) % offeredEvidencijaRadVreOj.length; globalFn.scroll('offeredEvidencijaRadVreOj-dropdown-' + EvidencijaRadVreOjDropdownIndex);"
                        (keyup.arrowup)="EvidencijaRadVreOjDropdownIndex = (EvidencijaRadVreOjDropdownIndex - 1 + offeredEvidencijaRadVreOj.length) % offeredEvidencijaRadVreOj.length; globalFn.scroll('offeredEvidencijaRadVreOj-dropdown-' + EvidencijaRadVreOjDropdownIndex);"
                        id="offeredEvidencijaRadVreOj-help-span">
                    <div id="offeredEvidencijaRadVreOj-dropdown" class="select-dropdown-content max-height-300px"
                        style="z-index: 500;">
                        <div [id]="'offeredEvidencijaRadVreOj-dropdown-' + i"
                            *ngFor="let evidencijaRadVreOj of offeredEvidencijaRadVreOj; index as i" matRipple
                            class="dropdown-content-item display-flex align-items-center space-between"
                            [class.gray-background]="i == EvidencijaRadVreOjDropdownIndex"
                            (mousedown)="selectEvidencijaRadVreOj(evidencijaRadVreOj);">
                            <span>
                                <b>{{evidencijaRadVreOj.SIF_OJ}}</b> - {{ evidencijaRadVreOj.NAZMJTR}}
                            </span>
                        </div>
                    </div>
                </span>
                <span *ngIf="filter.NAZMJTR!=''" class="small-margin-left margin-right">{{ filter.NAZMJTR }}</span>
            </td>
            <td>
                <label for="MBR">{{ 'VrstaPosla' | translate }}:</label>
            </td>
            <td>
                <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex" (click)="pickVrstePosla();"
                    (contextmenu)="removeVrstePosla($event)"
                    matTooltip="{{ (!filter.SIF_VP ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                    [class.color-valid]="filter!.NAZ_VP">
                    {{ filter!.NAZ_VP ? 'done' : 'import_contacts'}}
                </mat-icon>
            </td>
            <td class="filter-result2">
                <span (mousedown)="refreshVrstePosla(filter!.SIF_VP, false);">
                    <input type="text" [(ngModel)]="filter!.SIF_VP" maxlength="22"
                        class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                        placeholder="{{ 'Code' | translate }}" (blur)="OfferedVrstePosla();resetVrstePoslaIndex();"
                        (ngModelChange)="filterVrstePosla(filter!.SIF_VP);"
                        (focus)="refreshVrstePosla(filter!.SIF_VP, false);"
                        (keyup.enter)="selectVrstePosla(offeredVrstePosla[VrstePoslaDropdownIndex]);"
                        (keyup.escape)="resetVrstePoslaIndex();"
                        (keyup.arrowdown)="VrstePoslaDropdownIndex = (VrstePoslaDropdownIndex + 1) % offeredVrstePosla.length;globalFn.scroll('offeredVrstePosla-dropdown-' + VrstePoslaDropdownIndex);"
                        (keyup.arrowup)="VrstePoslaDropdownIndex = (VrstePoslaDropdownIndex - 1 + offeredVrstePosla.length) % offeredVrstePosla.length;globalFn.scroll('offeredVrstePosla-dropdown-' + VrstePoslaDropdownIndex);"
                        id="offeredVrstePosla-help-span">
                    <div id="offeredVrstePosla-dropdown" class="select-dropdown-content max-height-300px"
                        style="z-index: 500;">
                        <div [id]="'offeredVrstePosla-dropdown-' + i"
                            *ngFor="let evidencijaRadVreOj of offeredVrstePosla; index as i" matRipple
                            class="dropdown-content-item display-flex align-items-center space-between"
                            [class.gray-background]="i == VrstePoslaDropdownIndex"
                            (mousedown)="selectVrstePosla(evidencijaRadVreOj);">
                            <span>
                                <b>{{evidencijaRadVreOj.SIF_VP}}</b> - {{ evidencijaRadVreOj.NAZ_VP}}
                            </span>
                        </div>
                    </div>
                </span>
                <span *ngIf="filter.NAZ_VP!=''" class="small-margin-left margin-right">{{ filter.NAZ_VP }}</span>
            </td>

            <td>
                <label for="MBR">{{ 'Zaposleni' | translate }}:</label>
            </td>
            <td>
                <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex" (click)="pickZaposleni();"
                    (contextmenu)="removeZaposleni($event)"
                    matTooltip="{{ (!filter.MBR ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                    [class.color-valid]="filter!.PREZIME_IME">
                    {{ filter!.PREZIME_IME ? 'done' : 'import_contacts'}}
                </mat-icon>
            </td>
            <td class="filter-result2">
                <span (mousedown)="refreshZaposleni(filter!.MBR, false);">
                    <input type="text" [(ngModel)]="filter!.MBR" maxlength="22"
                        class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                        placeholder="{{ 'Code' | translate }}" (blur)="OfferedZaposleni();resetZaposleniIndex();"
                        (ngModelChange)="filterZaposleni(filter!.MBR);" (focus)="refreshZaposleni(filter!.MBR, false);"
                        (keyup.enter)="selectZaposleni(offeredZaposleni[ZaposleniDropdownIndex]);"
                        (keyup.escape)="resetZaposleniIndex();"
                        (keyup.arrowdown)="ZaposleniDropdownIndex = (ZaposleniDropdownIndex + 1) % offeredZaposleni.length;globalFn.scroll('offeredZaposleni-dropdown-' + ZaposleniDropdownIndex);"
                        (keyup.arrowup)="ZaposleniDropdownIndex = (ZaposleniDropdownIndex - 1 + offeredZaposleni.length) % offeredZaposleni.length;globalFn.scroll('offeredZaposleni-dropdown-' + ZaposleniDropdownIndex);"
                        id="offeredZaposleni-help-span">
                    <div id="offeredZaposleni-dropdown" class="select-dropdown-content max-height-300px"
                        style="z-index: 500;">
                        <div [id]="'offeredZaposleni-dropdown-' + i"
                            *ngFor="let zaposleni of offeredZaposleni; index as i" matRipple
                            class="dropdown-content-item display-flex align-items-center space-between"
                            [class.gray-background]="i == ZaposleniDropdownIndex"
                            (mousedown)="selectZaposleni(zaposleni);">
                            <span>
                                <b>{{zaposleni.MBR}}</b> - {{ zaposleni.OSOBA }}
                            </span>
                        </div>
                    </div>
                </span>
                <span *ngIf="filter.OSOBA!=''" class="small-margin-left margin-right">{{ filter.OSOBA }}</span>
            </td>
        </tr>
    </table>
    <div style="display: flex;justify-content: space-between;">
        <table>
            <tr>
                <td>
                    <label for="" style="font-size: 14px;">{{'Ispis'|translate}}</label>
                </td>
                <td style="display: flex;align-items: center;">
                    <button mat-mini-fab color="primary" class="minimum-margin-left-and-right"
                        (mousedown)="openPDFDialog();">
                        <mat-icon id="PDFButton" class="cursor-pointer minimum-margin-left-and-right"
                            matTooltip="{{ 'PDF' | translate }}">picture_as_pdf</mat-icon>
                    </button>
                    <button mat-flat-button color="primary" (mousedown)="getRekapitulacija()">
                        {{'Rekapitulacija'|translate}}</button>
                </td>
            </tr>
        </table>
        <div>
            <button mat-flat-button color="primary" [disabled]="deleteSelection.isEmpty()" (mousedown)="deleteSelected()">
                <mat-icon>delete</mat-icon> {{'ObrisiOdabrano'|translate}}</button>
            <button mat-flat-button color="primary" style="margin-left: 10px;" [disabled]="selection.isEmpty()"
                (mousedown)="saveAll()">
                <mat-icon>save</mat-icon> {{'SpremiSve'|translate}}</button>
            <button mat-flat-button color="primary" style="margin-left: 10px;"
                [disabled]="filter.MBR=='' || filter.SIF_VP=='' ||filter.SIF_OJ==''" (mousedown)="openCopyDataDialog()">
                <mat-icon>content_copy</mat-icon> {{'KopiranjePodataka'|translate}}</button>
        </div>

    </div>
</div>

<div class="tablediv">
    <table matSort (matSortChange)="sort($event);" mat-table [dataSource]="dataSource">

        @for(item of EvidencijaDnevna |keyvalue;track item){
        @if(item.key=='SATI'){
        <ng-container [matColumnDef]="item.key" >
            <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef style="max-width: 90px;min-width: 90px;"
                matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
                }}</th>
            <td mat-cell *matCellDef="let evidencija" style="max-width: 90px;min-width: 90px;">
                @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

                <input style="width: 40px;" type="text" [(ngModel)]="evidencija[item.key]"
                    (ngModelChange)="selection.isSelected(evidencija)?'':selection.select(evidencija)">
                }@else {
                {{evidencija[item.key]}}
                }
            </td>
            @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){
            <td mat-footer-cell *matFooterCellDef style="max-width: 90px;min-width: 90px;">
                <input style="width: 40px;" type="text" [(ngModel)]="newEvidencijaDnevna[item.key]">
            </td>
            }
        </ng-container>
        }
        @else if (item.key=='ODHH') {
        <ng-container [matColumnDef]="item.key" >
            <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef style="max-width: 120px;min-width: 120px;"
                matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
                }}</th>
            <td mat-cell *matCellDef="let evidencija" style="max-width: 120px;min-width: 120px;">
                @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

                <input style="width: 70px;" type="time" [(ngModel)]="evidencija[item.key]"
                    (ngModelChange)="selection.isSelected(evidencija)?'':selection.select(evidencija)">
                }@else {
                {{evidencija[item.key]}}
                }
            </td>
            @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){
            <td mat-footer-cell *matFooterCellDef style="max-width: 120px;min-width: 120px;">
                <input style="width: 70px;" type="time" [(ngModel)]="newEvidencijaDnevna[item.key]">
            </td>
            }
        </ng-container>
        }
        @else if (item.key=='DOHH') {
        <ng-container [matColumnDef]="item.key" >
            <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef style="max-width: 120px;min-width: 120px;"
                matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
                }}</th>
            <td mat-cell *matCellDef="let evidencija" style="max-width: 120px;min-width: 120px;">
                @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){
                <input style="width: 70px;" type="time" [(ngModel)]="evidencija[item.key]"
                    (ngModelChange)="selection.isSelected(evidencija)?'':selection.select(evidencija)">
                }@else {
                {{evidencija[item.key]}}
                }
            </td>
            @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

            <td mat-footer-cell *matFooterCellDef style="max-width: 120px;min-width: 120px;">
                <input style="width: 70px;" type="time" [(ngModel)]="newEvidencijaDnevna[item.key]">
            </td>
            }
        </ng-container>
        }
        @else if (item.key=='MBR') {
        <ng-container [matColumnDef]="item.key">
            <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef
                matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
                }}</th>
            <td mat-cell *matCellDef="let evidencija">
                {{evidencija[item.key]}}
            </td>
            @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

            <td mat-footer-cell *matFooterCellDef>
                <label for="">{{newEvidencijaDnevna.MBR}}</label>
            </td>
            }
        </ng-container>
        }
        @else if (item.key=='OSOBA') {
        <ng-container [matColumnDef]="item.key">
            <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef
                matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
                }}</th>
            <td mat-cell *matCellDef="let evidencija">
                @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

                <div style="display: flex;align-content: center;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        style="min-height: 24;min-width: 24px;" (click)="pickZaposleniRow(evidencija);"
                        (contextmenu)="removeZaposleniRow($event,evidencija)"
                        matTooltip="{{ (!evidencija.MBR ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="evidencija.OSOBAX">
                        {{ evidencija!.OSOBAX ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span (mousedown)="refreshZaposleniRow(evidencija.MBR, false);">
                        <input [class.red-input]="evidencija!.MBR && evidencija!.OSOBAX==''" type="text"
                            (blur)="OfferedZaposleniRow(evidencija);"
                            [(ngModel)]="evidencija!.MBR" class="minimum-margin-horizontal light-gray-background"
                            style="width: 50px;" placeholder="{{ 'Code' | translate }}" [matAutocomplete]="MBR"
                            (blur)="OfferedZaposleniRow(evidencija);"
                            (ngModelChange)="filterZaposleniRow(evidencija);selection.isSelected(evidencija)?'':selection.select(evidencija)"
                            (focus)="refreshZaposleniRow(evidencija.MBR, false);">
                        <mat-autocomplete #MBR="matAutocomplete" [panelWidth]="400">
                            @for(oj of offeredZaposleniRow;track oj){
                            <mat-option style="max-height: 28px;min-height: 28px;font-size: 12px;" [value]="oj!.MBR"
                                (onSelectionChange)="evidencija.OSOBAX=oj.PREZIME_IME" (mousedown)="evidencija.MBR=oj.MBR;evidencija.OSOBAX=oj.PREZIME_IME;">
                                <span
                                    style="max-width: 100%;max-height: 100%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{oj.MBR+'
                                    - '+oj.PREZIME_IME}}</span>
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </span>

                    <span matTooltip="{{ evidencija!.OSOBAX }}" matTooltipShowDelay="1000"
                        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{evidencija.OSOBAX}}</span>
                </div>
                }@else {
                {{evidencija[item.key]}}
                }
            </td>
            @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

            <td mat-footer-cell *matFooterCellDef>
                <div style="display: flex;align-content: center;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        style="min-height: 24;min-width: 24px;" (click)="pickNewZaposleni();"
                        (contextmenu)="removeNewZaposleni($event)"
                        matTooltip="{{ (!newEvidencijaDnevna.MBR ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="newVarNames.OSOBA">
                        {{ newVarNames!.OSOBA ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span (mousedown)="refreshNewZaposleni(newEvidencijaDnevna!.MBR, false);">
                        <input [class.red-input]="newEvidencijaDnevna!.MBR && newVarNames!.PREZIME_IME=='' " type="text"
                            [(ngModel)]="newEvidencijaDnevna!.MBR" id="NewOfferedZaposleni-help-span"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}"
                            (blur)="OfferedNewZaposleni();resetNewZaposleniIndex();"
                            (ngModelChange)="filterNewZaposleni(newEvidencijaDnevna!.MBR);newVarNames!.PREZIME_IME=''"
                            (focus)="refreshNewZaposleni(newEvidencijaDnevna!.MBR, false);"
                            (keyup.enter)="selectNewZaposleni(NewOfferedZaposleni[NewZaposleniDropdownIndex]);"
                            (keyup.escape)="resetNewZaposleniIndex();"
                            (keyup.arrowdown)="NewZaposleniDropdownIndex = (NewZaposleniDropdownIndex + 1) % NewOfferedZaposleni.length;globalFn.scroll('NewOfferedZaposleni-dropdown-'+NewZaposleniDropdownIndex);"
                            (keyup.arrowup)="NewZaposleniDropdownIndex = (NewZaposleniDropdownIndex - 1 + NewOfferedZaposleni.length) % NewOfferedZaposleni.length;globalFn.scroll('NewOfferedZaposleni-dropdown-'+NewZaposleniDropdownIndex);">
                        <div id="NewOfferedZaposleni-dropdown" class="select-dropdown-content max-height-300px"
                            style="z-index: 500;">
                            <div [id]="'NewOfferedZaposleni-dropdown-' + i"
                                *ngFor="let Cjenik of NewOfferedZaposleni; index as i" matRipple
                                class="dropdown-content-item display-flex align-items-center space-between"
                                [class.gray-background]="i == NewZaposleniDropdownIndex"
                                (mousedown)="selectNewZaposleni(Cjenik);">
                                <span>
                                    ({{ Cjenik.MBR }}) <b>{{ Cjenik.PREZIME_IME }}</b>
                                </span>
                            </div>
                        </div>
                    </span>
                    <span matTooltip="{{ newVarNames!.PREZIME_IME }}" matTooltipShowDelay="1000"
                        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{newVarNames.PREZIME_IME}}</span>
                </div>
            </td>
            }
        </ng-container>
        }
        @else if (item.key=='SIF_MT_N') {
        <ng-container [matColumnDef]="item.key">
            <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef
                matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
                }}</th>
            <td mat-cell *matCellDef="let evidencija">
                @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

                <div style="display: flex;align-content: center;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        style="min-height: 24;min-width: 24px;" (click)="pickEvidencijaRadVreOjRow(evidencija);"
                        (contextmenu)="removeEvidencijaRadVreOjRow($event,evidencija)"
                        matTooltip="{{ (!evidencija.SIF_MT ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="evidencija.SIF_MTX">
                        {{ evidencija!.SIF_MTX ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span (mousedown)="refreshEvidencijaRadVreOjRow(evidencija, false);">
                        <input [class.red-input]="evidencija!.SIF_MT && evidencija!.SIF_MTX=='' " type="text"
                            [(ngModel)]="evidencija!.SIF_MT" class="minimum-margin-horizontal light-gray-background"
                            style="width: 50px;" placeholder="{{ 'Code' | translate }}" [matAutocomplete]="oj"
                            (blur)="OfferedEvidencijaRadVreOjRow(evidencija);"
                            (ngModelChange)="filterEvidencijaRadVreOjRow(evidencija);selection.isSelected(evidencija)?'':selection.select(evidencija)"
                            (focus)="refreshEvidencijaRadVreOjRow(evidencija, false);">
                        <mat-autocomplete #oj="matAutocomplete" [panelWidth]="400">
                            @for(oj of offeredEvidencijaRadVreOjRow;track oj){
                            <mat-option style="max-height: 28px;min-height: 28px;font-size: 12px;" [value]="oj!.SIF_OJ"
                            (onSelectionChange)="evidencija.SIF_MTX=oj.NAZMJTR"
                                (mousedown)="evidencija.SIF_MT=oj.SIF_OJ;evidencija.SIF_MTX=oj.NAZMJTR;">
                                <span
                                    style="max-width: 100%;max-height: 100%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{oj.SIF_OJ+'
                                    - '+oj.NAZMJTR}}</span>
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </span>

                    <span matTooltip="{{ evidencija!.SIF_MTX }}" matTooltipShowDelay="1000"
                        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{evidencija.SIF_MTX}}</span>
                </div>
                }@else {
                {{evidencija[item.key]}}
                }
            </td>
            @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

            <td mat-footer-cell *matFooterCellDef>
                <div style="display: flex;align-content: center;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        (click)="pickEvidencijaRadVreOjNew();" (contextmenu)="removeEvidencijaRadVreOjNew($event)"
                        matTooltip="{{ (!newEvidencijaDnevna.SIF_MT ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="newVarNames.NAZMJTR">
                        {{ newVarNames!.NAZMJTR ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span (mousedown)="refreshEvidencijaRadVreOjNew(newEvidencijaDnevna!.SIF_MT, false);">
                        <input [class.red-input]="newEvidencijaDnevna!.SIF_MT && newVarNames!.NAZMJTR=='' " type="text"
                            [(ngModel)]="newEvidencijaDnevna!.SIF_MT" id="offeredEvidencijaRadVreOjNew-help-span"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}"
                            (blur)="OfferedEvidencijaRadVreOjNew();resetEvidencijaRadVreOjNewIndex();"
                            (ngModelChange)="filterEvidencijaRadVreOjNew(newEvidencijaDnevna!.SIF_MT);newVarNames!.NAZMJTR=''"
                            (focus)="refreshEvidencijaRadVreOjNew(newEvidencijaDnevna!.SIF_MT, false);"
                            (keyup.enter)="selectEvidencijaRadVreOjNew(offeredEvidencijaRadVreOjNew[EvidencijaRadVreOjDropdownIndexNew]);"
                            (keyup.escape)="resetEvidencijaRadVreOjNewIndex();"
                            (keyup.arrowdown)="EvidencijaRadVreOjDropdownIndexNew = (EvidencijaRadVreOjDropdownIndexNew + 1) % offeredEvidencijaRadVreOjNew.length;globalFn.scroll('offeredEvidencijaRadVreOjNew-dropdown-'+EvidencijaRadVreOjDropdownIndexNew);"
                            (keyup.arrowup)="EvidencijaRadVreOjDropdownIndexNew = (EvidencijaRadVreOjDropdownIndexNew - 1 + offeredEvidencijaRadVreOjNew.length) % offeredEvidencijaRadVreOjNew.length;globalFn.scroll('offeredEvidencijaRadVreOjNew-dropdown-'+EvidencijaRadVreOjDropdownIndexNew);">
                        <div id="offeredEvidencijaRadVreOjNew-dropdown" class="select-dropdown-content max-height-300px"
                            style="z-index: 500;">
                            <div [id]="'offeredEvidencijaRadVreOjNew-dropdown-' + i"
                                *ngFor="let Cjenik of offeredEvidencijaRadVreOjNew; index as i" matRipple
                                class="dropdown-content-item display-flex align-items-center space-between"
                                [class.gray-background]="i == EvidencijaRadVreOjDropdownIndexNew"
                                (mousedown)="selectEvidencijaRadVreOjNew(Cjenik);">
                                <span>
                                    ({{ Cjenik.SIF_OJ }}) <b>{{ Cjenik.NAZMJTR }}</b>
                                </span>
                            </div>
                        </div>
                    </span>
                    <span matTooltip="{{ newVarNames!.NAZMJTR }}" matTooltipShowDelay="1000"
                        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{newVarNames.NAZMJTR}}</span>
                </div>
            </td>
            }
        </ng-container>
        }
        @else if (item.key=='SIF_VP_N') {
        <ng-container [matColumnDef]="item.key">
            <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef
                matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
                }}</th>
            <td mat-cell *matCellDef="let evidencija">
                @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

                <div style="display: flex;align-content: center;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        style="min-height: 24;min-width: 24px;" (click)="pickVrstePoslaRow(evidencija);"
                        (contextmenu)="removeVrstePoslaRow($event,evidencija)"
                        matTooltip="{{ (!evidencija.SIF_VP ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="evidencija.SIF_VP_N">
                        {{ evidencija!.SIF_VP_N ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span (mousedown)="refreshVrstePoslaRow(evidencija, false);">
                        <input [class.red-input]="evidencija!.SIF_VP && evidencija!.SIF_VP_N=='' " type="text"
                            [(ngModel)]="evidencija!.SIF_VP" class="minimum-margin-horizontal light-gray-background"
                            style="width: 50px;" placeholder="{{ 'Code' | translate }}" [matAutocomplete]="vp"
                            (blur)="OfferedVrstePoslaRow(evidencija);"
                            (ngModelChange)="filterVrstePoslaRow(evidencija.SIF_VP,evidencija); selection.isSelected(evidencija)?'':selection.select(evidencija)"
                            (focus)="refreshVrstePoslaRow(evidencija.SIF_VP, false);">
                        <mat-autocomplete #vp="matAutocomplete" [panelWidth]="400">
                            @for(oj of offeredVrstePoslaRow;track oj){
                            <mat-option style="max-height: 28px;min-height: 28px;font-size: 12px;" [value]="oj!.SIF_VP"
                                (onSelectionChange)="evidencija.SIF_VP_N=oj.NAZ_VP.substring(7,100);"
                                (mousedown)="evidencija.SIF_VP=oj.SIF_VP;evidencija.SIF_VP_N=oj.NAZ_VP.substring(7,100);">
                                <span
                                    style="max-width: 100%;max-height: 100%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{oj.SIF_VP+'
                                    - '+oj.NAZ_VP.substring(7,100)}}</span>
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </span>

                    <span matTooltip="{{ evidencija!.SIF_VP_N }}" matTooltipShowDelay="1000"
                        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{evidencija.SIF_VP_N}}</span>
                </div>
                }
                @else {
                {{evidencija[item.key]}}
                }
            </td>
            @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){
            <td mat-footer-cell *matFooterCellDef>
                <div style="display: flex;align-content: center;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        (click)="pickVrstePoslaNew();" (contextmenu)="removeVrstePoslaNew($event)"
                        matTooltip="{{ (!newEvidencijaDnevna.SIF_VP ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="newVarNames.NAZ_VP">
                        {{ newVarNames!.NAZ_VP ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span (mousedown)="refreshVrstePoslaNew(newEvidencijaDnevna!.SIF_VP, false);">
                        <input [class.red-input]="newEvidencijaDnevna!.SIF_VP && newVarNames!.NAZ_VP=='' " type="text"
                            [(ngModel)]="newEvidencijaDnevna!.SIF_VP" id="offeredVrstePoslaNew-help-span"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}"
                            (blur)="OfferedVrstePoslaNew();resetVrstePoslaNewIndex();"
                            (ngModelChange)="filterVrstePoslaNew(newEvidencijaDnevna!.SIF_VP);newVarNames!.NAZ_VP=''"
                            (focus)="refreshVrstePoslaNew(newEvidencijaDnevna!.SIF_VP, false);"
                            (keyup.enter)="selectVrstePoslaNew(offeredVrstePoslaNew[VrstePoslaDropdownIndexNew]);"
                            (keyup.escape)="resetVrstePoslaNewIndex();"
                            (keyup.arrowdown)="VrstePoslaDropdownIndexNew = (VrstePoslaDropdownIndexNew + 1) % offeredVrstePoslaNew.length;globalFn.scroll('offeredVrstePoslaNew-dropdown-'+VrstePoslaDropdownIndexNew);"
                            (keyup.arrowup)="VrstePoslaDropdownIndexNew = (VrstePoslaDropdownIndexNew - 1 + offeredVrstePoslaNew.length) % offeredVrstePoslaNew.length;globalFn.scroll('offeredVrstePoslaNew-dropdown-'+VrstePoslaDropdownIndexNew);">
                        <div id="offeredVrstePoslaNew-dropdown" class="select-dropdown-content max-height-300px"
                            style="z-index: 500;">
                            <div [id]="'offeredVrstePoslaNew-dropdown-' + i"
                                *ngFor="let Cjenik of offeredVrstePoslaNew; index as i" matRipple
                                class="dropdown-content-item display-flex align-items-center space-between"
                                [class.gray-background]="i == VrstePoslaDropdownIndexNew"
                                (mousedown)="selectVrstePoslaNew(Cjenik);">
                                <span>
                                    ({{ Cjenik.SIF_VP }}) <b>{{ Cjenik.NAZ_VP }}</b>
                                </span>
                            </div>
                        </div>
                    </span>
                    <span matTooltip="{{ newVarNames!.NAZ_VP }}" matTooltipShowDelay="1000"
                        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{newVarNames.NAZ_VP}}</span>
                </div>
            </td>
            }
        </ng-container>
        }
        @else {
        <ng-container [matColumnDef]="item.key">
            <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef
                matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
                }}</th>
            <td mat-cell *matCellDef="let evidencija">{{ evidencija[item.key] }}</td>
            @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){

            <td mat-footer-cell *matFooterCellDef> </td>
            }
        </ng-container>
        }

        }


        <ng-container matColumnDef="options" stickyEnd>
            <th mat-header-cell class="options-header" *matHeaderCellDef>{{ 'Options' | translate }}</th>
            <td mat-cell *matCellDef="let EvidencijaRadVreZag">
                <div class="options-cell">
                    <mat-icon id="detailsButton" class="cursor-pointer minimum-margin-left-and-right"
                        (mousedown)="openDetailsDialog(EvidencijaRadVreZag);"
                        matTooltip="{{ 'Details' | translate }}">search</mat-icon>

                    <mat-icon id="goToMjesecnaEvidencija" *ngIf="globalVar.cVRS == 2 || !globalVar.useDynamicMenus"
                        class="cursor-pointer minimum-margin-left-and-right"
                        (mousedown)="goToMjesecnaEvidencija(EvidencijaRadVreZag);"
                        matTooltip="{{ 'calendar_month' | translate }}">calendar_month</mat-icon>

                    <mat-icon id="deleteButton" class="cursor-pointer minimum-margin-left-and-right"
                        (mousedown)="openDeleteDialog(EvidencijaRadVreZag);"
                        matTooltip="{{ 'Delete' | translate }}">delete</mat-icon>

                    <input type="checkbox" style="scale: 1.5;" [checked]="deleteSelection.isSelected(EvidencijaRadVreZag)" (change)="deleteSelection.toggle(EvidencijaRadVreZag)">

                    <mat-icon id="editButton" *ngIf="selection.isSelected(EvidencijaRadVreZag)&&validateForm(EvidencijaRadVreZag);"
                        class="cursor-pointer minimum-margin-left-and-right" (mousedown)="Update(EvidencijaRadVreZag);"
                        matTooltip="{{ 'Save' | translate }}">save</mat-icon>
                </div>
            </td>
            @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){
            <td mat-footer-cell *matFooterCellDef="let EvidencijaRadVreZag" style="background-color: aliceblue !important;">
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                    <div>
                        <button mat-flat-button type="button" color="primary"
                            [disabled]="!validateNewForm(newEvidencijaDnevna)"
                            (mousedown)="Save()"><mat-icon style="margin: unset;">add</mat-icon></button>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <button class="SelectAll" (mousedown)="selectAll()" >{{'SelectAll'|translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="Deselect" (mousedown)="deleteSelection.clear()">{{'Deselect'|translate}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            }
        </ng-container>

        <tr mat-header-row style="height: 40px;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height: 20px;" *matRowDef="let row; columns: displayedColumns;"></tr>
        @if(globalVar.cVRS == 2 || !globalVar.useDynamicMenus){
        <tr mat-footer-row *matFooterRowDef="displayedColumns" style="background-color: aliceblue;"></tr>
        }

    </table>
</div>
<app-pagination [length]="length" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [length]="length"
    [pageSize]="pageSize" (messageEvent)="receiveMessage($event);"></app-pagination>