<div 
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle 
cdkDragBoundary=".cdk-overlay-container"
class="colored-header text-align-center">
	{{ 'Creating' | translate }}
    <mat-icon class="dialog-close-button" (mousedown)="dialogRef.close()" >close</mat-icon>

</div>

<mat-dialog-content class="small-margin-and-center-title">

	<h2 mat-dialog-title class="text-align-center">
		<mat-icon class="dialog-title-icon">person</mat-icon>
		<mat-icon class="dialog-title-icon">add</mat-icon>
		<span class="dialog-title">{{ 'EvidencijaRadVreZagCreation' | translate }}</span>
  	</h2>

	<div class="form-container">
		<table>
            <tr>
				<td>
					<label for="SIF_STUPCA" class="minimum-margin-top">{{ 'SIF_STUPCA' | translate }}:</label>
				</td>
				<td>
					<input id="SIF_STUPCA" type="text" class="minimum-margin width-276-px" [(ngModel)]="EvidencijaRadVreZag!.SIF_STUPCA" placeholder="{{ 'SIF_STUPCA' | translate }}">
				</td>
			</tr>
            <tr>
				<td>
					<label for="RBROJ" class="minimum-margin-top">{{ 'RBROJ' | translate }}:</label>
				</td>
				<td>
					<input id="RBROJ" type="text" class="minimum-margin width-276-px" [(ngModel)]="EvidencijaRadVreZag!.RBROJ" placeholder="{{ 'RBROJ' | translate }}">
				</td>
			</tr>
            <tr>
				<td>
					<label for="KNAZIV" class="minimum-margin-top">{{ 'KNAZIV' | translate }}:</label>
				</td>
				<td>
					<input id="KNAZIV" type="text" class="minimum-margin width-276-px" [(ngModel)]="EvidencijaRadVreZag!.KNAZIV" placeholder="{{ 'KNAZIV' | translate }}">
				</td>
			</tr>
            <tr>
				<td>
					<label for="OPIS" class="minimum-margin-top">{{ 'OPIS' | translate }}:</label>
				</td>
				<td>
					<input id="OPIS" type="text" class="minimum-margin width-276-px" [(ngModel)]="EvidencijaRadVreZag!.OPIS" placeholder="{{ 'OPIS' | translate }}">
				</td>
			</tr>
			<tr>
				<td>
					<label for="VRSTA_IZRACUNA" class="minimum-margin-top">{{ 'VRSTA_IZRACUNA' | translate }}:</label>
				</td>
                <td style="display: flex;max-width: 250px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        (click)="pickOpisVrste();" (contextmenu)="removeOpisVrste($event)"
                        matTooltip="{{ (!EvidencijaRadVreZag.VRSTA_SLOGA ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="EvidencijaRadVreZag.OPISVRSTE">
                        {{ EvidencijaRadVreZag!.OPISVRSTE ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span (mousedown)="refreshOpisVrste(EvidencijaRadVreZag!.VRSTA_SLOGA, false);">
                        <input type="text" [(ngModel)]="EvidencijaRadVreZag.VRSTA_SLOGA" maxlength="22"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}"
                            (blur)="OfferedOpisVrste();resetOpisVrste();"
                            (ngModelChange)="filterOpisVrste(EvidencijaRadVreZag!.VRSTA_SLOGA);"
                            (focus)="refreshOpisVrste(EvidencijaRadVreZag!.VRSTA_SLOGA, false);"
                            (keyup.enter)="selectOpisVrste(offeredOpisVrste[OpisVrsteDropdownIndex]);"
                            (keyup.escape)="resetOpisVrste();"
							(keyup.arrowdown)="OpisVrsteDropdownIndex = (OpisVrsteDropdownIndex + 1) % offeredOpisVrste.length;globalFn.scroll('offeredOpisVrste-dropdown-' + OpisVrsteDropdownIndex);"
							(keyup.arrowup)="OpisVrsteDropdownIndex = (OpisVrsteDropdownIndex - 1 + offeredOpisVrste.length) % offeredOpisVrste.length;globalFn.scroll('offeredOpisVrste-dropdown-' + OpisVrsteDropdownIndex);">
                        <div id="offeredOpisVrste-dropdown" class="select-dropdown-content max-height-300px"
                            style="z-index: 500;">
                            <div [id]="'offeredOpisVrste-dropdown-' + i"
                                *ngFor="let opisVrste of offeredOpisVrste; index as i" matRipple
                                class="dropdown-content-item display-flex align-items-center space-between"
                                [class.gray-background]="i == OpisVrsteDropdownIndex"
                                (mousedown)="selectOpisVrste(opisVrste);">
                                <span>
                                    <b>{{ opisVrste.SIFRA }}</b> ({{ opisVrste.OPIS }})
                                </span>
                            </div>
                        </div>
                    </span>
                    <span class="small-margin-left margin-right" matTooltip="{{ EvidencijaRadVreZag!.OPISVRSTE }}"
                        matTooltipShowDelay="1000">{{
                        EvidencijaRadVreZag!.OPISVRSTE }}</span>
                </td>
			</tr>

		</table>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button (mousedown)="dialogRef.close()">{{ 'Cancel' | translate }}</button>
	<button mat-raised-button type="button" color="primary" (mousedown)="save();dialogRef.close(true);"
		[disabled]="validateForm(EvidencijaRadVreZag!)">{{ 'Create' | translate }}</button>
</mat-dialog-actions>