<div
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle 
cdkDragBoundary=".cdk-overlay-container"
class="dialog-header">
    {{ 'Delete' | translate }}

    <mat-icon class="dialog-close-button" (mousedown)="dialogRef.close()" >close</mat-icon>

</div>
<mat-dialog-content>
    {{ 'AreYouSureYouWantToDeleteThisRecord' | translate }}?
</mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button (mousedown)="dialogRef.close()">{{ 'No' | translate }}</button>
    <button mat-raised-button color="primary" (mousedown)="delete();dialogRef.close(true)">{{ 'Yes' | translate }}</button>
  </mat-dialog-actions>
