<div 
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle 
cdkDragBoundary=".cdk-overlay-container"
class="colored-header text-align-center">
	{{ 'Editing' | translate }}
    <mat-icon class="dialog-close-button" mat-dialog-close >close</mat-icon>

</div>

<mat-dialog-content class="small-margin-and-center-title">

	<h2 mat-dialog-title class="text-align-center">
		<mat-icon class="dialog-title-icon">person</mat-icon>
		<mat-icon class="dialog-title-icon">add</mat-icon>
		<span class="dialog-title">{{ 'OvlasteneOsobeMjTrEditing' | translate }}</span>
  	</h2>

	<div class="form-container">
		<table>
			<tr>
				<td>
					<label for="ID" class="minimum-margin-top">{{ 'ID' | translate }}:</label>
				</td>
                <td style="display: flex;max-width: 300px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                    <span>
                        <input disabled type="text" [(ngModel)]="OvlastenaOsobaMjTr.ID" maxlength="22"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}">
                    </span>
                    <span disabled style="max-width: 64%;overflow: hidden;text-overflow: ellipsis;" class="margin-right" matTooltip="{{ varNames!.NAZIV }}"
                        matTooltipShowDelay="1000">{{
                        varNames!.PREZIME_IME }}</span>
                </td>
			</tr>
			<tr>
				<td>
					<label for="NAZJM" class="minimum-margin-top">{{ 'NAZJM' | translate }}:</label>
				</td>
                <td style="display: flex;max-width: 300px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                    <span>
                        <input disabled type="text" [(ngModel)]="OvlastenaOsobaMjTr.SIFMJTR" maxlength="22"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}">
                    </span>
                    <span disabled style="max-width: 64%;overflow: hidden;text-overflow: ellipsis;" class="margin-right" matTooltip="{{ varNames!.NAZ_OJ }}"
                        matTooltipShowDelay="1000">{{
                        varNames!.NAZ_OJ }}</span>
                </td>
			</tr>
			<tr>
				<td>
					<label for="OD" class="minimum-margin-top">{{ 'OD' | translate }}:</label>
				</td>
				<td>
					<input id="OD" type="time" class="minimum-margin width-276-px" [(ngModel)]="OvlastenaOsobaMjTr!.OD" placeholder="{{ 'OD' | translate }}">
				</td>
			</tr>
            <tr>
				<td>
					<label for="DO" class="minimum-margin-top">{{ 'DO' | translate }}:</label>
				</td>
				<td>
					<input id="DO" type="time" class="minimum-margin width-276-px" [(ngModel)]="OvlastenaOsobaMjTr!.DO" placeholder="{{ 'DO' | translate }}">
				</td>
			</tr>
            <tr>
				<td>
					<label for="SATI" class="minimum-margin-top">{{ 'SATI' | translate }}:</label>
				</td>
				<td>
					<input id="SATI" class="minimum-margin width-276-px" [(ngModel)]="OvlastenaOsobaMjTr!.SATI" placeholder="{{ 'SATI' | translate }}">
				</td>
			</tr>
		</table>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="true">{{ 'Cancel' | translate }}</button>
	<button mat-raised-button type="button" color="primary" [mat-dialog-close]="true" (click)="save();"
		[disabled]="validateForm(OvlastenaOsobaMjTr!)">{{ 'Edit' | translate }}</button>
</mat-dialog-actions>