<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container"
  class="dialog-header">
  {{ 'PDF' | translate }}?

  <mat-icon class="dialog-close-button" mat-dialog-close>close</mat-icon>

</div>
<div>
  <mat-dialog-content>
    <p>{{ 'KreirajPDF' | translate }}</p>

    <table>
        <tr>
            <td>
                <label for="">{{'DATUM'|translate}}</label>
            </td>
            <td>
                <input type="date" id="datum" name="datum" [(ngModel)]="datum">
            </td>
        </tr>
    </table>

  </mat-dialog-content>




  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'No' | translate }}</button>
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="!datum" (click)="generatePDF();">{{
      'Yes' | translate }}</button>
  </mat-dialog-actions>

</div>