<div style="width: 900px;">
    <div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container"
        class="dialog-toolbar">
        {{ 'ZaposlenizaGrupu' | translate }}: <b>{{ receivedGrupa.NAZ_GRUPE }}</b>, {{ 'ID' | translate }}: <b>{{
            receivedGrupa.ID_GRUPE }}</b>
    </div>

    <mat-dialog-content>
        <table>
            <tr>
                <td>
                    <label for="NAZJM" class="minimum-margin-top">{{ 'organiz-jedinica' | translate }}:</label>
                </td>
                <td
                    style="display: flex;max-width: 480px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        (click)="pickOrganizationalUnits();" (contextmenu)="removeOrganizationalUnits($event)"
                        matTooltip="{{ (!varNames.SIFMJTR ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="varNames.NAZ_OJ">
                        {{ varNames!.NAZ_OJ ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span 
                        (click)="refreshOrganizationalUnits(varNames!.SIFMJTR, false);">
                        <input type="text" [(ngModel)]="varNames.SIFMJTR" maxlength="22"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}"
                            (blur)="OfferedOrganizationalUnits();resetOrganizationalUnits();"
                            (ngModelChange)="filterOrganizationalUnits(varNames!.SIFMJTR);"
                            (focus)="refreshOrganizationalUnits(varNames!.SIFMJTR, false);"
                            (keyup.enter)="selectOrganizationalUnits(offeredOrganizacijskeJedinice[OrganizacijskeJediniceDropdownIndex]);"
                            (keyup.escape)="resetOrganizationalUnits();">
                        <div id="offeredOrganizacijskeJedinice-dropdown"
                            class="select-dropdown-content max-height-300px" style="z-index: 500;">
                            <div [id]="'offeredOrganizacijskeJedinice-dropdown-' + i"
                                *ngFor="let organizationalUnits of offeredOrganizacijskeJedinice; index as i" matRipple
                                class="dropdown-content-item display-flex align-items-center space-between"
                                [class.gray-background]="i == OrganizacijskeJediniceDropdownIndex"
                                (mousedown)="selectOrganizationalUnits(organizationalUnits);">
                                <span>
                                    <b>{{ organizationalUnits.SIF_OJ }}</b> ({{ organizationalUnits.NAZ_OJ }})
                                </span>
                            </div>
                        </div>
                    </span>
                    <span style="width: 300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" class="small-margin-left margin-right" matTooltip="{{ varNames!.NAZ_OJ }}"
                        matTooltipShowDelay="1000">{{
                        varNames!.NAZ_OJ }}</span>
                </td>
            </tr>
            <!--
            <tr>
                <td>
                    <label for="SIF_SHEME" class="minimum-margin-top">{{ 'Shema' | translate }}:</label>
                </td>
                <td
                    style="display: flex;max-width: 480px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                    <mat-icon matSuffix class="minimum-margin-left cursor-pointer display-flex"
                        (click)="pickSheme();" (contextmenu)="removeSheme($event)"
                        matTooltip="{{ (!receivedGrupa.SIF_SHEME ? 'ClickToSelectFromDialogToFill' : '') | translate }}"
                        [class.color-valid]="varNames.NAZ_SHEME">
                        {{ varNames!.NAZ_SHEME ? 'done' : 'import_contacts'}}
                    </mat-icon>
                    <span
                        (click)="refreshSheme(receivedGrupa!.SIF_SHEME, false);">
                        <input type="text" [(ngModel)]="receivedGrupa.SIF_SHEME" maxlength="22"
                            class="minimum-margin-horizontal light-gray-background" style="width: 50px;"
                            placeholder="{{ 'Code' | translate }}"
                            (blur)="OfferedSheme();resetSheme();"
                            (ngModelChange)="filterSheme(receivedGrupa!.SIF_SHEME);"
                            (focus)="refreshSheme(receivedGrupa!.SIF_SHEME, false);"
                            (keyup.enter)="selectSheme(offeredSheme[ShemeDropdownIndex]);"
                            (keyup.escape)="resetSheme();">
                        <div id="offeredSheme-dropdown"
                            class="select-dropdown-content max-height-300px" style="z-index: 500;">
                            <div [id]="'offeredSheme-dropdown-' + i"
                                *ngFor="let sheme of offeredSheme; index as i" matRipple
                                class="dropdown-content-item display-flex align-items-center space-between"
                                [class.gray-background]="i == ShemeDropdownIndex"
                                (mousedown)="selectSheme(sheme);">
                                <span>
                                    <b>{{ sheme.SIF_SHEME }}</b> ({{ sheme.OPIS }})
                                </span>
                            </div>
                        </div>
                    </span>
                    <span style="width: 300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" class="small-margin-left margin-right" matTooltip="{{ varNames!.NAZ_SHEME }}"
                        matTooltipShowDelay="1000">{{
                        varNames!.NAZ_SHEME }}</span>
                </td>
            </tr>-->
        </table>
        <div class="display-flex small-margin-bottom button-bar" style="justify-content: space-between;">

            <div >
                <button class="small-horizontal-margins" mat-mini-fab color="primary" 
                    matTooltip="{{ 'Refresh' | translate }}" (click)="refresh();">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button class="small-horizontal-margins" mat-mini-fab [mat-dialog-close]="true"
                    matTooltip="{{ 'Cancel' | translate }}">
                    <mat-icon>close</mat-icon>
                </button>
                <button class="small-horizontal-margins" mat-mini-fab matTooltip="{{ 'SelectAll' | translate }}"
                    color="primary" [disabled]="varNames.NAZ_SHEME=='' || varNames.NAZ_OJ==''"  (click)="selectAll();">
                    <mat-icon>check_box</mat-icon>
                </button>
                <button class="small-horizontal-margins" mat-mini-fab matTooltip="{{ 'DeselectAll' | translate }}"
                    color="primary" [disabled]="varNames.NAZ_SHEME=='' || varNames.NAZ_OJ==''" (click)="deselectAll();">
                    <mat-icon>check_box_outline_blank</mat-icon>
                </button>
                <button class="small-horizontal-margins" mat-mini-fab [mat-dialog-close]="true"
                    matTooltip="{{ 'SaveChanges' | translate }}" [disabled]="varNames.NAZ_SHEME=='' || varNames.NAZ_OJ==''"  color="primary" (click)="save();">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>

        <div style="overflow-y: scroll;min-height: 690px;max-height: 690px;">
            <table mat-table matSort [dataSource]="dataSource" style="min-height: 100%;max-height: 100%;">

                <ng-container matColumnDef="yes-no">
                    <th mat-header-cell *matHeaderCellDef>{{ 'YesNo' | translate }}</th>
                    <td mat-cell *matCellDef="let owner">
                        <mat-checkbox ngDefaultControl [checked]="selection.isSelected(owner)"
                            color="primary"></mat-checkbox>
                    </td>
                </ng-container>
                @for(item of ZaposleniGrupe |keyvalue;track item){

                <ng-container [matColumnDef]="item.key">
                    <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef
                        matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key |
                        translate
                        }}</th>
                    <td mat-cell *matCellDef="let country">{{ country[item.key] }}</td>
                </ng-container>
                }


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row style="height: 20px;" *matRowDef="let row; columns: displayedColumns;"
                    [class.selected]="selection.isSelected(row)" (click)="selection.toggle(row)"
                    [class.select]="selection.isSelected(row)"></tr>

            </table>
        </div>

        <div class="paginator-container">
            <div class="paginator-center-text">
                {{ 'RecordsBeingDisplayed' | translate }} <b>{{ startingRecord() }} - {{ endingRecord() }}</b> od <b>{{
                    length }}</b>
            </div>
            <div class="display-flex">
                <button mat-icon-button [disabled]="pageIndex == 0" matTooltip="{{ 'FirstPage' | translate }}"
                    (click)="pageFirst();">
                    <mat-icon>first_page</mat-icon>
                </button>
                <button mat-icon-button [disabled]="pageIndex == 0" matTooltip="{{ 'PreviousPage' | translate }}"
                    (click)="pageDown();">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <div class="paginator-center-text">
                    {{ 'Page' | translate }} {{ pageIndex + 1 }} {{ 'of' | translate }} {{ numberOfPages() }}
                </div>
                <button mat-icon-button [disabled]="pageIndex == numberOfPages() - 1"
                    matTooltip="{{ 'NextPage' | translate }}" (click)="pageUp();">
                    <mat-icon>navigate_next</mat-icon>
                </button>
                <button mat-icon-button [disabled]="pageIndex == numberOfPages() - 1"
                    matTooltip="{{ 'LastPage' | translate }}" (click)="pageLast();">
                    <mat-icon>last_page</mat-icon>
                </button>
            </div>
        </div>
    </mat-dialog-content>
</div>