<mat-tab-group [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event);selection.isEmpty()?'':getZaposleniGrupe();">
  <!--
  <mat-tab label="{{'Grupe'|translate}}">
    <mat-toolbar class="toolbar">

      <span cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container">{{
        'Grupe' | translate }}</span>

      <span class="toolbar-spacer"></span>

      <mat-form-field class="negative-bottom-margin">

        <mat-label>{{ 'DisplayedColumns' | translate }}</mat-label>

        <mat-select (selectionChange)="setVisibleColumnsFromEvent();" [(ngModel)]="globalVar.GrupeDisplayedColumns"
          multiple>
          <mat-option *ngFor="let column of globalVar.GrupeColumnsList" [value]="column">{{ column.displayedName |
            translate }}</mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field appearance="outline" class="input-lower-margin-corrector small-margin-left"
        matTooltip="{{ 'Search' | translate }}" matTooltipPosition="above" (keyup.enter)="refresh();">
        <input type="text" matInput [(ngModel)]="searchParam" placeholder="{{ 'Grupe' | translate }}">
      </mat-form-field>

      <button mat-icon-button matTooltip="{{ 'Search' | translate }}" (click)="refresh();">
        <mat-icon>search</mat-icon>
      </button>

      <button mat-mini-fab color="primary" matTooltip="{{ 'Refresh' | translate }}" class="small-margin-left"
        (click)="refresh();">
        <mat-icon *ngIf="!loading">refresh</mat-icon>
        <mat-spinner [diameter]="30" color="accent" style="height: 25px;" *ngIf="loading"></mat-spinner>
      </button>

    </mat-toolbar>

    <div class="tablediv">
      <table matSort (matSortChange)="sort($event);" mat-table [dataSource]="dataSource1">

        @for(item of Grupe |keyvalue;track item){

        <ng-container [matColumnDef]="item.key">
          <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef
            matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
            }}</th>
          <td mat-cell *matCellDef="let country">{{ country[item.key] }}</td>
        </ng-container>
        }

        <tr mat-header-row style="height: 40px;" *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row class="highlighted-on-hover" style="height: 20px;" *matRowDef="let row; columns: displayedColumns1;"
          (click)="selection.toggle(row);" [class.selected]="selection.isSelected(row)"></tr>

      </table>

      <app-pagination [length]="length1" [pageIndex]="pageIndex1" [pageSizeOptions]="pageSizeOptions1"
        [length]="length1" [pageSize]="pageSize1" (messageEvent)="receiveMessage($event);"></app-pagination>
    </div>
  </mat-tab>
  -->
  <mat-tab label="{{'Zaposleni'|translate}}">
    <mat-toolbar class="toolbar">

      <span cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container">{{
        'Zaposleni' | translate }}</span>

      <span class="toolbar-spacer"></span>

      <mat-form-field class="negative-bottom-margin">

        <mat-label>{{ 'DisplayedColumns' | translate }}</mat-label>

        <mat-select (selectionChange)="setVisibleColumnsFromEvent();"
          [(ngModel)]="globalVar.ZaposleniPoGrupiIShemiDisplayedColumns" multiple>
          <mat-option *ngFor="let column of globalVar.ZaposleniPoGrupiIShemiColumnsList" [value]="column">{{
            column.displayedName |
            translate }}</mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field appearance="outline" class="input-lower-margin-corrector small-margin-left"
        matTooltip="{{ 'Search' | translate }}" matTooltipPosition="above" (keyup.enter)="refresh();">
        <input type="text" matInput [(ngModel)]="searchParam" placeholder="{{ 'Grupe' | translate }}">
      </mat-form-field>

      <button mat-icon-button matTooltip="{{ 'Search' | translate }}" (click)="refresh();">
        <mat-icon>search</mat-icon>
      </button>

      <button mat-mini-fab color="primary" matTooltip="{{ 'Refresh' | translate }}" class="small-margin-left"
        (click)="refresh();">
        <mat-icon *ngIf="!loading">refresh</mat-icon>
        <mat-spinner [diameter]="30" color="accent" style="height: 25px;" *ngIf="loading"></mat-spinner>
      </button>

      <button mat-mini-fab color="primary" matTooltip="{{ 'Dodaj' | translate }}"  class="small-margin-left" (click)="openZaposleniciDialog();">
        <mat-icon>add</mat-icon>
      </button>

    </mat-toolbar>

    <div class="tablediv">
      <table matSort (matSortChange)="sort($event);" mat-table [dataSource]="dataSource">

        @for(item of ZaposleniPoGrupiIShemi |keyvalue;track item){

        <ng-container [matColumnDef]="item.key">
          <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef
            matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
            }}</th>
          <td mat-cell *matCellDef="let zaposlenigrupe">{{ zaposlenigrupe[item.key] }}</td>
        </ng-container>
        }

        <tr mat-header-row style="height: 40px;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="highlighted-on-hover" style="height: 20px;"
          *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <app-pagination [length]="length" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
        [length]="length" [pageSize]="pageSize" (messageEvent)="receiveMessage($event);"></app-pagination>
    </div>
  </mat-tab>
  
  <mat-tab label="{{'Edit'|translate}}">
    <div style="min-width: 720px; min-height: 160px;display: flex;justify-content: space-around;">
      <table style="margin-left: 20px;">
        <tr>
          <td>
            <label >{{'Od'|translate}}</label>
          </td>
          <td>
            <input type="datetime-local" [(ngModel)]="varNames.OD">
          </td>
        </tr>
        <tr>
          <td>
            <label >{{'Do'|translate}}</label>

          </td>
          <td>
            <input type="datetime-local" [(ngModel)]="varNames.DO">

          </td>
        </tr>
        <tr>
          <td>
            <label >{{'PAUZAOD'|translate}}</label>
          </td>
          <td>
            <input type="time" [(ngModel)]="receivedSheme.meta.PAUZA_OD">
          </td>
        </tr>
        <tr>
          <td>
            <label >{{'PAUZADO'|translate}}</label>

          </td>
          <td>
            <input type="time" [(ngModel)]="receivedSheme.meta.PAUZA_DO">

          </td>
        </tr>
      </table>
    </div>
    <div style="margin: 20px;">
      <button mat-flat-button color="primary" (click)="save()">{{'Save'|translate}}</button>
    </div>
  </mat-tab>

</mat-tab-group>