<mat-toolbar class="toolbar">

    <span>{{ 'EvidencijaRadVremZagVeze' | translate }}</span>

    <span class="toolbar-spacer"></span>

    <mat-form-field class="negative-bottom-margin">

        <mat-label>{{ 'DisplayedColumns' | translate }}</mat-label>

        <mat-select (selectionChange)="setVisibleColumnsFromEvent();"
            [(ngModel)]="globalVar.EvidencijaRadVreZagVezeDisplayedColumns" multiple>
            <mat-option *ngFor="let column of globalVar.EvidencijaRadVreZagVezeColumnsList" [value]="column">{{
                column.displayedName |
                translate }}</mat-option>
        </mat-select>

    </mat-form-field>

    <mat-form-field appearance="outline" class="input-lower-margin-corrector small-margin-left"
        matTooltip="{{ 'Search' | translate }}" matTooltipPosition="above" (keyup.enter)="refresh();">
        <input type="text" matInput [(ngModel)]="searchParam" placeholder="{{ 'Evidencija' | translate }}">
    </mat-form-field>

    <button mat-icon-button matTooltip="{{ 'Search' | translate }}" (click)="refresh();">
        <mat-icon>search</mat-icon>
    </button>

    <button *ngIf="globalVar.cVRS == 2 || !globalVar.useDynamicMenus" mat-mini-fab color="primary"
        matTooltip="{{ 'Create' | translate }}" (click)="openCreateDialog();">
        <mat-icon>add</mat-icon>
    </button>

    <button mat-mini-fab color="primary" matTooltip="{{ 'Refresh' | translate }}" class="small-margin-left"
        (click)="refresh();">
        <mat-icon *ngIf="!loading">refresh</mat-icon>
        <mat-spinner [diameter]="30" color="accent" style="height: 25px;" *ngIf="loading"></mat-spinner>
    </button>

</mat-toolbar>

<div class="dokumenti-filteri-container" style="margin-top: 20px;border-radius: 10px;overflow-x: auto;">
    <table class="filteri-table">
        <tr>
            <td>
                <label for="" style="font-size: 14px;">{{'Ispis'|translate}}</label>
            </td>
            <td>
                <button mat-mini-fab color="primary" class="minimum-margin-left-and-right"
                    (click)="openEXCELDialog(searchParam);">
                    <mat-icon id="EXCELButton" class="cursor-pointer minimum-margin-left-and-right"
                        matTooltip="{{ 'EXCEL' | translate }}">
                        <img src="assets/icons/png/excel.png" alt="" height="20">
                    </mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="minimum-margin-left-and-right"
                    (click)="openPDFDialog(searchParam);">
                    <mat-icon id="PDFButton" class="cursor-pointer minimum-margin-left-and-right"
                        matTooltip="{{ 'PDF' | translate }}">picture_as_pdf</mat-icon>
                </button>

            </td>
        </tr>
    </table>
</div>

<div class="tablediv">
    <table matSort (matSortChange)="sort($event);" mat-table [dataSource]="dataSource">

        @for(item of EvidencijaRadVreZagVeze |keyvalue;track item){
        <ng-container [matColumnDef]="item.key">
            <th mat-header-cell [mat-sort-header]="item.key" *matHeaderCellDef
                matTooltip="{{ 'SortByThisAttribute' | translate }}" matTooltipPosition="above">{{ item.key | translate
                }}</th>
            <td mat-cell *matCellDef="let Banka">{{ Banka[item.key] }}</td>
        </ng-container>
        }


        <ng-container matColumnDef="options">
            <th mat-header-cell class="options-header" *matHeaderCellDef>{{ 'Options' | translate }}</th>
            <td mat-cell *matCellDef="let EvidencijaRadVreZag">
                <div class="options-cell">
                    <mat-icon id="detailsButton" class="cursor-pointer minimum-margin-left-and-right"
                        (click)="openDetailsDialog(EvidencijaRadVreZag);"
                        matTooltip="{{ 'Details' | translate }}">search</mat-icon>
                    <mat-icon id="editButton" *ngIf="globalVar.cVRS == 2 || !globalVar.useDynamicMenus"
                        class="cursor-pointer minimum-margin-left-and-right"
                        (click)="openEditDialog(EvidencijaRadVreZag);"
                        matTooltip="{{ 'Edit' | translate }}">edit</mat-icon>
                    <mat-icon id="deleteButton" *ngIf="globalVar.cVRS == 2 || !globalVar.useDynamicMenus"
                        class="cursor-pointer minimum-margin-left-and-right"
                        (click)="openDeleteDialog(EvidencijaRadVreZag);"
                        matTooltip="{{ 'Delete' | translate }}">delete</mat-icon>



                </div>
            </td>
        </ng-container>

        <tr mat-header-row style="height: 40px;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height: 20px;" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>
<app-pagination [length]="length" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [length]="length"
    [pageSize]="pageSize" (messageEvent)="receiveMessage($event);"></app-pagination>