.sidenav-text {
    width: 185px;
    height: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    span{
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        position: absolute;
        white-space: nowrap;
    }
}


.sidenav-list-subitem {
    width: calc(100% - 25px) !important;
    //height: 40px !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    padding: 0 0 0 25px !important;
    border-top: 1px solid rgb(128, 128, 128,40%) !important;

}